@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  text-align: center;
  padding: 50px;
  height: 100%;
}

h1 {
  margin-bottom: 20px;
}

#gameContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #b8bdb5;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #889696;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #5f7470;
  border-radius: 10px;
}

.menu-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #889696;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.menu-button:hover {
  background-color: #5f7470;
  border-radius: 10px;
}

#matchButtons {
  width: 100%;
}

.chipRow {
  width: 100%;
  margin: 3% 0 3% 0;
}

.chip{
  margin: 0 1% 0 1%;
  background: url(../../Assets/Chips/MatchStick_Tip.png);
  background-size: 100%;
  min-height: 75px;
}

#playerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 40px;
}

#player1 {
  position: relative;
  text-align: center;
  width: 100%;
}

#player2 {
  position: relative;
  text-align: center;
  width: 100%;
}

#arrowImg {
  display: inline;
  max-width: 100px;
  transform: rotate(180deg);
}

.playerCircle {
  background-color: #e0e2db;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 22px;
}

