<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy Difficulty</title>
  <link rel="stylesheet" href="./css/difficulty.css">
  <script src="../Controller/difficulty1.js"></script>
</head>
<body>
  <h1>Easy Difficulty</h1>
  <p>Current Turn: <span id="turnDisplay"></span></p>
  <div id="game-container">
    <div id="stoneButtons"></div>
    <div id="removeButtons"></div>
  </div>
  <button onclick="endTurn()">End Turn</button>

</body>
</html>