<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Difficulties</title>
    <link rel="stylesheet" href="./css/mainmenu.css"> 
    <script src="../Controller/difficulties.js"></script>
  </head>
  <body>
    <h1>Game of Nim!</h1>
    <h3>Please select any difficulty to begin the game!</h3>
    <div class="difficulty-buttons">
      <button class="menu-button" onclick="location.href='./menu.html'">Back To Menu</button>
      <button class="menu-button" onclick="selectDifficulty(1)">Easy</button>
      <button class="menu-button" onclick="selectDifficulty(2)">Medium</button>
      <button class="menu-button" onclick="selectDifficulty(3)">Hard</button>
    </div>
  </body>
</html>