<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Game Of Nim</title>
    <link rel="stylesheet" href="./css/game.css">
    <script src="../Controller/game.js"></script>
    <script src="../Controller/loadNamesAndBackground.js"></script>
  </head>
  <body>
    <h1>Game Of Nim</h1>
    <div id="gameContainer">
      <div id="matchButtons"></div>
    </div>
    <button class="menu-button" id="endTurn" onclick="nextPlayerTurn()">End Turn</button>
    <div id="playerContainer">
      <div class="playerCircle">
        <br>
        <br>
        <br>
        <span id="player1"></span>
      </div>
      <img id="arrowImg" src="../Assets/Misc/arrow.png">
      <div class="playerCircle">
        <br>
        <br>
        <br>
        <span id="player2"></span>
      </div>
      
    </div>
  </body>
</html>