<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Nim - Main Menu</title>
    <link rel="stylesheet" href="./css/mainmenu.css">
    <script src="../Controller/mainmenu.js"></script>
  </head>
  <body>
    <h1>Welcome to the Game of Nim!</h1>
    <h3>Hello, Player <span id="player1"></span>, and Player <span id='player2'></span> to the game of Nim!</h3>
    <div>
      <button class="menu-button" onclick="location.href='./difficulties.html'">Select Difficulty</button>
      <button class="menu-button" onclick="location.href='./tutorial.html'">Game Rules</button>
      <button class="menu-button" onclick="changeBackground()">Change Background</button>
      <button class="menu-button" onclick="location.href='../index.html'">Change Username</button>
    </div>
  </body>
</html>
