<!DOCTYPE html>
<html>
    <head>
        <title>How to Play!</title>
        <link rel="stylesheet" href="./css/tutorial.css">
    </head>
    <body>
        <h1 class="title">The Game Of Nim</h1>
        <h2 class="title">How To Play:</h2>
        <button class="menu-button" id="backButton" onclick="location.href='../index.html'">< Go Back</button>
        <div id="mainBox">
            <div id="inBox">
                <ul>
                    <li>Players take turns taking any number of chips from ONE of the rows.</li>
                    <li>Whoever takes the last chip wins!</li>
                    <li>You can only take items from one row at a turn.</li>
                </ul>
            </div>
        </div>
    </body>
</html>