<!DOCTYPE html>
<html>
    <head>
        <title>How to Play!</title>
        <link rel="stylesheet" href="./css/tutorial.css">
    </head>
    <body>
        <div id="mainBox">
            <button class="menu-button" id="backButton" onclick="location.href='./menu.html'">< Back To Menu</button>
            <h1>Game of Nim!</h1>
            <h2 class="title">How To Play:</h2>
            <div id="inBox">
                <ul>
                    <li>Players take turns taking any number of chips from ONE of the rows.</li>
                    <li>Whoever takes the last chip wins!</li>
                    <li>You can only take items from one row at a turn.</li>
                </ul>
            </div>
        </div>
    </body>
</html>